.gjs-pn-commands .gjs-pn-buttons,
#gjs-pn-commands .gjs-pn-buttons {
  display: none;
}
.gjs-mdl-dialog-sm {
  width: 300px;
}

#info-panel {
  line-height: 17px;
}

.info-panel-logo {
  display: block;
  height: 90px;
  margin: 0 auto;
  width: 90px;
}

.info-panel-logo path {
  stroke: #eee !important;
  stroke-width: 8 !important;
}

.info-panel-label {
  margin-bottom: 10px;
  font-size: 13px;
}

.info-panel-link {
  text-decoration: none;
}

.gjs-clm-tag-status,
.gjs-clm-tag-close {
  width: 12px;
  height: 12px;
}
.gjs-clm-tags-btn {
  width: 24px;
}

.cke_chrome {
  border: none !important;
}
.cke_toolgroup {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

/* INFO PANEL */

.gjs-mdl-dialog-sm {
  width: 300px;
}

#info-panel {
  line-height: 17px;
}

.info-panel-logo {
  display: block;
  height: 90px;
  margin: 0 auto;
  width: 90px;
}

.info-panel-logo path {
  stroke: #eee !important;
  stroke-width: 8 !important;
}

.info-panel-label {
  margin-bottom: 10px;
  font-size: 13px;
}

.info-panel-link {
  text-decoration: none;
}

/* Temporary fix #2490 */
.gjs-clm-tag-status,
.gjs-clm-tag-close {
  width: 12px;
  height: 12px;
}
.gjs-clm-tags-btn {
  width: 24px;
}

span.gjs-pn-btn.fa.fa-cog {
  display: none;
}

div.gjs-pn-views-container {
  max-height: 100vh !important;
}

/* for changing block size */
div.gjs-block.gjs-one-bg.gjs-four-color-h {
  padding: 0px;
  min-height: 50px;
  width: 40%;
}
div.gjs-block__media {
  margin: 0px;
}
div.gjs-blocks-c {
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  img.firstBlockImages {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
}
@media only screen and (max-width: 720px) {
  img.firstBlockImages {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}
